.starRating-stars {
  position: relative;
  height: 3rem;
  width: 15rem; /* height x 5 (estrellas) */
  background: url(off.svg);
  background-size: 3rem 3rem; /* Tiene que coincidir con background de starRatingLabel */
}

.starRating-label {
  position: absolute;
  height: 100%;
  background-size: 3rem 3rem; /* Tiene que coincidir con background de starRating */
}

.starRating-input {
  margin: 0;
  position: absolute;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.starRating-stars .starRating-label:nth-of-type(1) {
  z-index: 5;
  width: 20%;
}

.starRating-stars .starRating-label:nth-of-type(2) {
  z-index: 4;
  width: 40%;
}

.starRating-stars .starRating-label:nth-of-type(3) {
  z-index: 3;
  width: 60%;
}

.starRating-stars .starRating-label:nth-of-type(4) {
  z-index: 2;
  width: 80%;
}

.starRating-stars .starRating-label:nth-of-type(5) {
  z-index: 1;
  width: 100%;
}

.starRating-input:checked + .starRating-label,
.starRating-input:focus + .starRating-label,
.starRating-label:hover {
  background-image: url(on.svg);
}

.starRating-label:hover ~ .starRating-label {
  background-image: url(off.svg);
}

.starRating-input:focus ~ .starRating-focus {
  position: absolute;
  top: .25em;
  right: .25em;
  bottom: .25em;
  left: .25em;
}